beautifulsoup4
bleach
ipykernel
ipython
ipython-genutils
joblib
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
matplotlib
matplotlib-inline
nbclassic
nbclient
nbconvert
nbformat
notebook
notebook-shim
numpy
pandas
Pillow
prometheus-client
psutil
py4j
pyarrow
pyspark
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
zipp
plotnine
tabulate
